html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(bg-image.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: table;
}

.nav {
    text-align: center;
    margin-top: 40px;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 100;
    padding: 16px 55px;
}

a:hover {
    transition: .6s;
    color: black;
}

.logo {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 70px;
}

.header {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header h1 {
    color: rgb(0, 0, 0); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}

.tagline {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tagline p {
    color: whitesmoke; 
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}

.btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px 15px 15px 15px;
}

button {
    padding: 8px 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: whitesmoke;
    background: rgba(255, 255, 255, 0);
    border: 3px solid whitesmoke;
    font-size: 18px;
    transition: .6s;
}

button:hover {
    transition: .8s;
    border: 3px solid black;
    color: black;
}